extends templates/layout.pug

block vars
  - var activepage = "";

block header

block footer

block content
  .pnf(style="background-image: url('images/bg_cms.jpg')")
    .pnf_content.animate.fade-outs
      h1.pnf_title 404
      p.pnf_text The page you have requested is not available
      a.btn.btn-primary(href="home.html") Back to home


