extends templates/layout.pug

block vars
  - var activepage = "Home";


block content
  .container
    .home-gallery
      h2 Home
      .box-img.animate.fade-in
        .sdesc
          .title
            h3.font-signature Raymond Stevany | Bali Wedding at Khayangan
          .date
            span APRIL 11, 2019
        .item-photo.bg-img(data-src="images/photo-01.jpg")
        
      .box-img.animate.fade-in
        .sdesc
          .title
            h3.font-signature Raymond Stevany | Bali Wedding at Khayangan
          .date
            span APRIL 11, 2019
        .item-photo.bg-img(data-src="images/photo-04.jpg")
        
      .box-img.animate.fade-in
        .sdesc
          .title
            h3.font-signature Raymond Stevany | Bali Wedding at Khayangan
          .date
            span APRIL 11, 2019
        .item-photo.bg-img(data-src="images/photo-02.jpg")
        