extends templates/layout.pug

block vars
  - var activepage = "Journal";


block content
  .container
    .page-journal
      h2 Journal
      .journal-gallery.row
        .col-md-6.animate.fade-in.delay
          a(href="journal-single.html")
            .item-photo.bg-img(data-src="images/photo-01.jpg")
            .sdesc
              .date
                span APRIL 11, 2019
              .title
                h3 Raymond Stevany | Bali Wedding at Khayangan
        .col-md-6.animate.fade-in.delay
          a(href="journal-single.html")
            .item-photo.bg-img(data-src="images/photo-02.jpg")
            .sdesc
              .date
                span APRIL 11, 2019
              .title
                h3 Raymond Stevany | Bali Wedding at Khayangan
        .col-md-6.animate.fade-in.delay
          a(href="journal-single.html")
            .item-photo.bg-img(data-src="images/photo-03.jpg")
            .sdesc
              .date
                span APRIL 11, 2019
              .title
                h3 Raymond Stevany | Bali Wedding at Khayangan
        .col-md-6.animate.fade-in.delay
          a(href="journal-single.html")
            .item-photo.bg-img(data-src="images/photo-04.jpg")
            .sdesc
              .date
                span APRIL 11, 2019
              .title
                h3 Raymond Stevany | Bali Wedding at Khayangan
        .col-md-6.animate.fade-in.delay
          a(href="journal-single.html")
            .item-photo.bg-img(data-src="images/photo-01.jpg")
            .sdesc
              .date
                span APRIL 11, 2019
              .title
                h3 Raymond Stevany | Bali Wedding at Khayangan
        .col-md-6.animate.fade-in.delay
          a(href="journal-single.html")
            .item-photo.bg-img(data-src="images/photo-02.jpg")
            .sdesc
              .date
                span APRIL 11, 2019
              .title
                h3 Raymond Stevany | Bali Wedding at Khayangan
