extends templates/layout.pug

block vars
  - var activepage = "Journal";


block content
  .container
    .page-journal-single
      .head-section
        h2 Raymond Stevany | Bali Wedding at Khayangan
        .date
          span APRIL 11, 2019
      .detail-desc
        article
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, ducimus nulla, suscipit quasi error quidem nostrum, optio nesciunt tempora labore quae dolorum repellendus accusamus odit ut voluptatem asperiores est enim.

          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, ducimus nulla, suscipit quasi error quidem nostrum, optio nesciunt tempora labore quae dolorum repellendus accusamus odit ut voluptatem asperiores est enim.

          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, ducimus nulla, suscipit quasi error quidem nostrum, optio nesciunt tempora labore quae dolorum repellendus accusamus odit ut voluptatem asperiores est enim.
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, ducimus nulla, suscipit quasi error quidem nostrum, optio nesciunt tempora labore quae dolorum repellendus accusamus odit ut voluptatem asperiores est enim.
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, ducimus nulla, suscipit quasi error quidem nostrum, optio nesciunt tempora labore quae dolorum repellendus accusamus odit ut voluptatem asperiores est enim. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis laboriosam itaque atque. Hic cumque non perspiciatis iusto ex delectus error quisquam maiores consectetur, eius ipsa necessitatibus reprehenderit, provident nulla optio?

          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, ducimus nulla, suscipit quasi error quidem nostrum, optio nesciunt tempora labore quae dolorum repellendus accusamus odit ut voluptatem asperiores est enim.

          p Enjoy!

          dl
            dt Wedding Stylist and Planner
            dd
              a(href='#' target="_blank") Wedding Planner Name
            dt Venue
            dd
              a(href='#' target="_blank") Venue Name
            dt Wedding Dress
            dd
              a(href='#' target="_blank") Wedding Dress Name

      .js-gallery
        .multi-item.row.animate.fade-in.delay
          .col
            .item-photo.bg-img.animate.fade-in(data-src="images/photo-01.jpg")
          .col-12
            .caption
              h3 Raymond Stevany | Bali Wedding at Khayangan
              p Lorem ipsum dolor sit amet consectetur adipisicing elit.
        .multi-item.row.animate.fade-in.delay
          .col
            .item-photo.bg-img.animate.fade-in(data-src="images/photo-01.jpg")
        .multi-item.row.animate.fade-in.delay
          .col
            .item-photo.bg-img.animate.fade-in(data-src="images/photo-01.jpg")
          .col
            .item-photo.bg-img.animate.fade-in(data-src="images/photo-02.jpg")
          .col
            .text.text-center
              p Raymond Stevany | Bali Wedding at Khayangan
          .col
            .item-photo.bg-img.animate.fade-in(data-src="images/photo-04.jpg")
        .multi-item.row.animate.fade-in.delay
          .col
            .text
              p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius magni error repellat pariatur provident inventore delectus iusto. Qui aut amet atque facilis tenetur sit animi hic earum, exercitationem blanditiis? Officia.
          .col
            .item-photo.bg-img.animate.fade-in(data-src="images/photo-02.jpg")
        .multi-item.row.animate.fade-in.delay
          .col
            .item-photo.bg-img.animate.fade-in(data-src="images/photo-01.jpg")
          .col
            .item-photo.bg-img.animate.fade-in(data-src="images/photo-02.jpg")
          .col
            .item-photo.bg-img.animate.fade-in(data-src="images/photo-03.jpg")

