footer.footer
  .container
    .row
      .col-sm-6
        h3
          a(href="home.html") WAHYUDIN PHOTO
        .text
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto obcaecati voluptate rem repellat iusto nemo nulla impedit.
      .col-sm-6
        .socmed
          a(href='https://www.instagram.com/' target="_blank")
            img.svg(src='images/instagram-icon.svg')
          a(href='https://web.whatsapp.com/' target="_blank")
            img.svg(src='images/whatsapp-icon.svg')
        .cpyright
          span © 2020 WAHYUDIN PHOTO. All Rights Reserved.
